<?xml version='1.0' encoding='utf-8'?>
<settings>
  <run_mode>eigenvalue</run_mode>
  <particles>10000</particles>
  <batches>500</batches>
  <inactive>25</inactive>
  <source strength="1.0">
    <space type="fission">
      <parameters>-100 -100 -175.0 100 100 175.0</parameters>
    </space>
  </source>
</settings>
